<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todo List: </h1>

    <ol class="todoItems">
        <% items.forEach(item => { %>
            <li class="item">
             
                <%  if(item.completed) {%>
                    <span class="todo-text completed" data-id="<%= item._id %>"><%= item.thing %></span>
                <% } else{ %>
                    <span class="todo-text" data-id="<%= item._id %>"><%= item.thing %></span>
               <% } %>
             
                <span class="fa fa-thumbs-up"><%= item.likes %></span>
                <!-- Edit button (Pen icon) -->  
                <span class="fa fa-edit" data-id="<%= item._id %>"></span>
                <!-- Delete button -->
                <span class="fa fa-trash"></span>
                <span class="fa fa-thumbs-down"><%= item.dis %></span>

                     <!-- Progress bar -->
                     <span class="progress-bar">
                        <span class="progress" style="width: 40%;"><%= item.progress %></span>
                    </span>
                    <span><%= item.progress %></span>
 </li>
        <% }) %>
    </ol>


    <h2>Left to do: <%= left %></h2>

    <h2>Add A Todo:</h2>

    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Things To Do" name="todoItem">
        <input class="butn" type="submit">
    </form>

  
    
    <script src='js/main.js'></script>
</body>
</html>
